
<div id="sidebar2" class="container-fluid grayline" data-spy="affix">
    <div class="container no-padd">
      <div class="row">
        <div class="col-md-8 text-center">
          <h4>Ferðasögur og myndir</h4>
          <!--<a href="#" class="filter-btn" data-toggle="collapse" data-target="#filter"><i class="fa fa-chevron-down"></i></a>-->
          <button type="button" class="btn btn-default filter-btn hidden-lg hidden-md " data-toggle="collapse" data-target="#filter"><i class="fa fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
    <div id="filter" class="container filter filter-small hidden-lg hidden-md collapse">
    <div class="row">
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="1" onclick="filterArticles(1);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Fjallamennska    </span>
      </label>
    </div>
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="2" onclick="filterArticles(2);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Ísklifur    </span>
      </label>
    </div>
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="3" onclick="filterArticles(3);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Klettaklifur    </span>
      </label>
    </div>
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="4" onclick="filterArticles(4);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Alpaklifur    </span>
      </label>
    </div>
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="5" onclick="filterArticles(5);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Skíði    </span>
      </label>
    </div>
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="6" onclick="filterArticles(6);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Svifvængjaflug    </span>
      </label>
    </div>
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="7" onclick="filterArticles(7);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Hellaferðir    </span>
      </label>
    </div>
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="8" onclick="filterArticles(8);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Vatnasport    </span>
      </label>
    </div>
    <div class="col-sm-3 col-xs-6 checkbox">
      <label>
        <input type="checkbox" value="9" onclick="filterArticles(9);" checked />
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span class="go-left">
        Jeppaferðir    </span>
      </label>
    </div>
    
    </div>
    </div>
    
    </div>
    
    <!-- ## List content ## -->
    
    <div class="container article-list-container">
    <div class="row">
    
    <div class="col-md-8 no-padd article-list">
    <div id="greinalisti">
        <div class="banner banner-subcont vignette-small">
        <a title="Everest-Khumbu" href="http://www.climbing.is/grein/234/khumbu-valley">
        <img src="http://www.climbing.is/listPic.php/Nepal_18.jpg" class="article-main-image" width="100%"/>
        <h4><span>Everest-Khumbu</span><em> Skrifað 2017-12-03</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Ævintýri á Snæfellsnesi" href="http://www.climbing.is/grein/232/snaefellsnes-adventure">
        <img src="http://www.climbing.is/listPic.php/Snaefellnes_londrangar_kirkjufell_45.jpg" class="article-main-image" width="100%"/>
        <h4><span>Ævintýri á Snæfellsnesi</span><em> Skrifað 2017-10-08</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Laugavegurinn" href="http://www.climbing.is/grein/231/laugavegurinn">
        <img src="http://www.climbing.is/listPic.php/Laugavegur2017-62.jpg" class="article-main-image" width="100%"/>
        <h4><span>Laugavegurinn</span><em> Skrifað 2017-08-17</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Kerlingafjöll" href="http://www.climbing.is/grein/230/kerlingafjoll">
        <img src="http://www.climbing.is/listPic.php/Kerlingafjoll_skidi_02a.jpg" class="article-main-image" width="100%"/>
        <h4><span>Kerlingafjöll</span><em> Skrifað 2017-07-24</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Nepal" href="http://www.climbing.is/grein/229/nepal">
        <img src="http://www.climbing.is/listPic.php/_DSC6317.jpg" class="article-main-image" width="100%"/>
        <h4><span>Nepal</span><em> Skrifað 2017-03-31</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Indland" href="http://www.climbing.is/grein/228/india">
        <img src="http://www.climbing.is/listPic.php/Bir_Indland_051.jpg" class="article-main-image" width="100%"/>
        <h4><span>Indland</span><em> Skrifað 2017-03-13</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Skessuhorn - klifur og flug" href="http://www.climbing.is/grein/227/skessuhorn-climb-and-fly">
        <img src="http://www.climbing.is/listPic.php/Skessuhorn_klifur_flug-12.jpg" class="article-main-image" width="100%"/>
        <h4><span>Skessuhorn - klifur og flug</span><em> Skrifað 2017-01-03</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Flugsumarið 2016 - seinni partur" href="http://www.climbing.is/grein/226/flight-summer-2016-part-2">
        <img src="http://www.climbing.is/listPic.php/PG_SID-SUMAR_000.jpg" class="article-main-image" width="100%"/>
        <h4><span>Flugsumarið 2016 - seinni partur</span><em> Skrifað 2017-01-01</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Flugsumarið 2016 - fyrri partur" href="http://www.climbing.is/grein/225/flight-summer-2016-part-1">
        <img src="http://www.climbing.is/listPic.php/flugsumar2016_sumar_107.jpg" class="article-main-image" width="100%"/>
        <h4><span>Flugsumarið 2016 - fyrri partur</span><em> Skrifað 2016-11-21</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Vorflugur á lofti" href="http://www.climbing.is/grein/224/spring-flying">
        <img src="http://www.climbing.is/listPic.php/flug2016_vor_408.jpg" class="article-main-image" width="100%"/>
        <h4><span>Vorflugur á lofti</span><em> Skrifað 2016-11-21</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Heljaregg, klifur og flug" href="http://www.climbing.is/grein/223/hells-ridge-climb-and-fly">
        <img src="http://www.climbing.is/listPic.php/Heljaregg_agu2016_16.jpg" class="article-main-image" width="100%"/>
        <h4><span>Heljaregg, klifur og flug</span><em> Skrifað 2016-08-21</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Hnúkurinn" href="http://www.climbing.is/grein/222/hvannadalshnjukur">
        <img src="http://www.climbing.is/listPic.php/hnjukur_jun2016_05.jpg" class="article-main-image" width="100%"/>
        <h4><span>Hnúkurinn</span><em> Skrifað 2016-06-19</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Birnudalstindur skíði" href="http://www.climbing.is/grein/221/birnudalstindur-skiing">
        <img src="http://www.climbing.is/listPic.php/BirnudalstindurFjallaskidiFI-22.jpg" class="article-main-image" width="100%"/>
        <h4><span>Birnudalstindur skíði</span><em> Skrifað 2016-06-07</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Þverártindsegg" href="http://www.climbing.is/grein/220/thverartindsegg">
        <img src="http://www.climbing.is/listPic.php/Tverartindsegg_2016_27.jpg" class="article-main-image" width="100%"/>
        <h4><span>Þverártindsegg</span><em> Skrifað 2016-05-29</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Hekla skíði og flug" href="http://www.climbing.is/grein/219/hekla-volcano-ski-and-fly">
        <img src="http://www.climbing.is/listPic.php/hekla16_30.jpg" class="article-main-image" width="100%"/>
        <h4><span>Hekla skíði og flug</span><em> Skrifað 2016-04-27</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Ísklifurfestival Kaldakinn" href="http://www.climbing.is/grein/218/iceclimbing-festival-kaldakinn">
        <img src="http://www.climbing.is/listPic.php/kaldakinn-festival-2016_47.jpg" class="article-main-image" width="100%"/>
        <h4><span>Ísklifurfestival Kaldakinn</span><em> Skrifað 2016-02-28</em></h4>
        </a>
        </div>
          <div class="banner banner-subcont vignette-small">
        <a title="Skessuhorn jólin 2015" href="http://www.climbing.is/grein/217/skessuhorn-christmas-2015">
        <img src="http://www.climbing.is/listPic.php/skessuhorn_jol2015_12.jpg" class="article-main-image" width="100%"/>
        <h4><span>Skessuhorn jólin 2015</span><em> Skrifað 2016-01-28</em></h4>
        </a>
        </div>
        
      </div>
    <style>
    .article-list-loading{
      padding:40px;
    }
    </style>
    
    <!-- DISABLED Gummi
    <div class="article-list-loading text-center"><i class="fa fa-spinner fa-pulse go-right"></i>Hleð fleiri greinar</div>
    -->
    
    </div>
     
    <div class="col-md-4 no-padd filter">
    <div id="sidebar" class="panel panel-default hidden-xs hidden-sm" data-spy="affix">
    
    <div class="panel-heading"><h4>Sía</h4></div>
    <script type="text/javascript">
    var isFirst = true;
    
    function filterArticles(idNum)
    {
      if(isFirst == true)
      {
        // turn all filters off!
        $('input:checkbox').each(function(){
          $('input:checkbox').attr('checked',false);
        });
        $(":checkbox[value="+idNum+"]").prop("checked","true");
      }
      
      var dataString = $('input:checkbox:checked').map(function() {
        return this.value;
      }).get();
      
      var jsonString = JSON.stringify(dataString);
      $.ajax({
        type: "POST",
        url: "getGreinar.php",
        data: {data : jsonString}, 
        cache: false,
    
        success: function(data){
            $("#greinalisti").html(data);
        }
      });
      isFirst = false;
    }
    </script>
    
    <div class="list-group no-padd panel-body">
    <form action="" method="post" id="filterForm">
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="1" onclick="filterArticles(1);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Fjallamennska        </span>
          </label>
        </div>
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="2" onclick="filterArticles(2);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Ísklifur        </span>
          </label>
        </div>
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="3" onclick="filterArticles(3);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Klettaklifur        </span>
          </label>
        </div>
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="4" onclick="filterArticles(4);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Alpaklifur        </span>
          </label>
        </div>
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="5" onclick="filterArticles(5);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Skíði        </span>
          </label>
        </div>
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="6" onclick="filterArticles(6);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Svifvængjaflug        </span>
          </label>
        </div>
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="7" onclick="filterArticles(7);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Hellaferðir        </span>
          </label>
        </div>
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="8" onclick="filterArticles(8);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Vatnasport        </span>
          </label>
        </div>
        <div class="checkbox list-group-item">
          <label>
            <input type="checkbox" value="9" onclick="filterArticles(9);" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            <span class="go-left">
            Jeppaferðir        </span>
          </label>
        </div>
    </form>
    </div>
    </div>
    
    </div>
    
    </div><!--end of .row-->
    </div><!--end of .container-->
