/* You can add global styles to this file, and also import other style files */
/* @import 'assets/bootstrap.min.css'; */
@import 'bootstrap_climb.css';

@import 'https://fonts.googleapis.com/css?family=Play:400,700|Open+Sans:400,600,300italic';
/* @import 'https://fonts.googleapis.com/css?family=Josefin+Slab:400,600';*/

/*@import "https://www.climbing.is/css/blueimp-gallery.min.css";
@import "https://www.climbing.is/css/bootstrap-image-gallery.css";
*/
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-5wjwOK3Ps5GSJlNNkMalnqg6v.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Slab SemiBold'), local('JosefinSlab-SemiBold'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-mwjwOK3Ps5GSJlNNkMalvdSq6Kerl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.text-black {
  background-color: #EDEDED !important;
  color: black;
}
.text-white {
  background-color: black;
  color: white;
}
.black-text #switch-color {
  color: #888;
  background-image: url(assets/img/switch1.png) !important;
}
.white-text #switch-color {
  color: #888;
  background-image: url(assets/img/switch1.png) !important;
}
#switch-color {
  opacity: 0.7;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  position: absolute;
  right: 0px;
  top: 0px;
}

h1,h2,h3 {
  color: #FFF;
}

h1,h2,h3,h4,em,.nav a,ul.share-buttons{
  font-family: 'Josefin Slab',serif;
  letter-spacing: .05em;
  font-weight: 600;
}

em {
  opacity: .6;
}

body {
  font-family: 'Open Sans',sans-serif;
  overflow-x: hidden;

}
.btn {
  background-image: none;
  border: none;
}

.thumb, .thumbnail {
    margin: 0;
    padding: 0;
    border: none;
}
.thumbnail a>img, .thumbnail>img {
    margin-left: auto;
    margin-right: auto;
}
.sidelines {
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgba(255,255,255,.1);
}
.grayline {
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid rgba(255,255,255,.1);
    background: rgba(255,255,255,.08);
    min-height: 20px;
}
.grayline h4 {
    padding: 0;
    margin: 20px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.grayline h4 .fa {
    margin-right: 20px;
    color: rgba(255,95,47,1);
}
.grayline h2 span {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,95,47,1);
}
.grayline h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.align-right {
  text-align: right!important;
}
.go-right {
  margin-right: 10px;
}
.footer {
  padding: 40px 0;
  background: rgba(0,0,0,.5);
}
#sidebar.panel {
  border: 1px solid rgba(255,255,255,.1);
  border-left: none;
  border-radius: 0;
  margin-bottom: -1px;
  background: 0 0;
}
#sidebar {
  z-index: 999;
}
#sidebar.panel .panel-footer, #sidebar.panel .panel-heading {
  text-align: center;
  background: #151515!important;
}
#sidebar.panel .panel-body, #sidebar.panel .panel-footer, #sidebar.panel .panel-heading {
  border: none;
  border-radius: 0;
}
#sidebar.panel .panel-heading h4 {
  text-transform: uppercase;
  font-size: 16px;
}
.nav a, em, h1, h2, h3, h4, ul.share-buttons {
  font-family: 'Josefin Slab',serif;
  letter-spacing: .05em;
  font-weight: 600;
}

.article-labels {
  margin: -20px 0 20px;
  opacity: .25;
}
.article-text-container { 
  overflow: hidden;
  background: rgba(0,0,0,1);
  padding: 40px;
  line-height: 1.8em;
  border: 1px solid rgba(255,255,255,.1);
  border-bottom: none;
}
.clubs {
  padding: 40px 0;
}
h1, h2, h3 {
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgb(0 0 0 / 30%);
}
.clubs div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.banner, .banner a, .banner img {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  display: block;
}
.banner-cont {
  background: rgba(255,255,255,.08);
  overflow: hidden;
}
.banner-cont .container {
  box-shadow: 0 0 50px #000;
  border-left: 1px solid rgba(255,255,255,.1);
  border-right: 1px solid rgba(255,255,255,.1);
}

.no-padd {
  padding: 0!important;
}

/*Greinar*/
.checkbox label input[type=checkbox]:not(:checked)~span, .radio label input[type=radio]:not(:checked)~span {
  opacity: .4;
}
.go-left {
  margin-left: 10px;
}
.filter .list-group {
  border: none;
  padding: 0;
  margin: 0;
}
.filter .panel-body {
  border: none;
}
.panel>.list-group, .panel>.panel-collapse>.list-group {
  margin-bottom: 0;
}
.go-left {
  margin-left: 10px;
}
.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.filter .list-group-item {
  background-color: #000;
  border: solid rgba(255,255,255,.1);
  border-width: 1px 0 0!important;
  padding: 0;
  margin: 0;
}
.filter .list-group-item label {
  padding: 10px;
}
.filter .list-group-item:first-child {
  border: none;
}
.checkbox label {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  opacity: .8;
}
.checkbox .cr, .radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid rgba(255,255,255,.2);
  width: 20px;
  height: 20px;
  margin-right: .5em;
  color: rgba(255,95,47,1);
}
.checkbox label input[type=checkbox]+.cr>.cr-icon, .radio label input[type=radio]+.cr>.cr-icon {
  -webkit-transform: scale(3) rotateZ(
-20deg
);
  transform: scale(3) rotateZ(
-20deg
);
  opacity: 0;
  transition: all .1s ease-in;
}
.checkbox .cr .cr-icon, .radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}
.checkbox label input[type=checkbox], .radio label input[type=radio] {
  display: none;
}
.checkbox label input[type=checkbox]:checked+.cr>.cr-icon, .radio label input[type=radio]:checked+.cr>.cr-icon {
  -webkit-transform: scale(1) rotateZ(0);
  transform: scale(1) rotateZ(0);
  opacity: 1;
}
.banner-subcont {
  text-align: center;
  position: relative;
}
.banner-subcont h4 {
  bottom: 80px;
}
.banner-subcont h2, .banner-subcont h4 {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
}
.banner-subcont h2 span, .banner-subcont h4 span {
  background: rgba(11,11,11,.8);
  padding: 20px 40px 50px;
}
.banner-subcont em {
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  z-index: 1;
  bottom: -30px;
  opacity: .4;
}

.article-main-image {
  height: 390px;
}
.article-img-left {
  float: left;
  margin: 5px 20px 0 0;
}
.article-img-left, .article-img-right {
  width: 50%;
}