
<div class="navbar navbar-default footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
        <!--<p class="navbar-text"><i class="fa fa-chevron-up go-right"></i><a class="back-to-top" href="#top">Upp</a>
        </p>-->
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 align-right">
        <em class="go-right">Við erum líka hér</em>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" onclick="window.location.href = 'http://www.facebook.com/fjallateymid'"><i class="fa fa-facebook"></i></button>
          <button type="button" class="btn btn-default" onclick="window.location.href = 'https://vimeo.com/user2253040'"><i class="fa fa-vimeo-square"></i></button>
          <button type="button" class="btn btn-default" onclick="window.location.href = 'https://plus.google.com/109119466859116365436'"><i class="fa fa-google-plus-square"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>