.image {
    margin-top: auto; 
    display: inline-block; 
    width: 100%; 
    height: 100%;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 0px;
}
.image img {
    margin-left: auto;
	margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.nextShow {
    left:0px;
    animation: nextShowKeyFrames 0.5s ;
}
@keyframes nextShowKeyFrames {
    to {left: 0px;}
    from {left: 2000px;}
}
.nextHide {
    left:0px;
    animation: nextHideKeyFrames 0.5s ;
}
@keyframes nextHideKeyFrames {
    from {left: 0px;}
    to {left: -2000px;}
}

.prevShow {
    left:0px;
    animation: prevShowKeyFrames 0.5s ;
}
@keyframes prevShowKeyFrames {
    to {left: 0px;}
    from {left: -2000px;}
}
.prevHide {
    left:0px;
    animation: prevHideKeyFrames 0.5s ;
}
@keyframes prevHideKeyFrames {
    from {left: 0px;}
    to {left: 2000px;}
}


.hide {
    display: none;
}