<div class="container">
  <div class="row sidelines">
  
  <!-- Myndir -->
  	<div class="col-lg-4 col-md-4 col-xs-6 thumb vignette-xsmall">
        <a class="thumbnail" title="Gott að versla í Kathmandu" href="http://www.climbing.is/safetest/stormynd.php/Nepal_01.jpg" data-gallery>
          <img class="img-responsive" src="http://www.climbing.is/squarethumb.php/Nepal_01.jpg" alt="">
        </a>
      </div>
  	<div class="col-lg-4 col-md-4 col-xs-6 thumb vignette-xsmall">
        <a class="thumbnail" title="Útför" href="http://www.climbing.is/safetest/stormynd.php/Nepal_02.jpg" data-gallery>
          <img class="img-responsive" src="http://www.climbing.is/squarethumb.php/Nepal_02.jpg" alt="">
        </a>
      </div>
  	<div class="col-lg-4 col-md-4 col-xs-6 thumb vignette-xsmall">
        <a class="thumbnail" title="Útför" href="http://www.climbing.is/safetest/stormynd.php/Nepal_03.jpg" data-gallery>
          <img class="img-responsive" src="http://www.climbing.is/squarethumb.php/Nepal_03.jpg" alt="">
        </a>
      </div>
  	<div class="col-lg-4 col-md-4 col-xs-6 thumb vignette-xsmall">
        <a class="thumbnail" title="Mannlíf" href="http://www.climbing.is/safetest/stormynd.php/Nepal_04.jpg" data-gallery>
          <img class="img-responsive" src="http://www.climbing.is/squarethumb.php/Nepal_04.jpg" alt="">
        </a>
      </div>
  	<div class="col-lg-4 col-md-4 col-xs-6 thumb vignette-xsmall">
        <a class="thumbnail" title="Umferðin" href="http://www.climbing.is/safetest/stormynd.php/Nepal_05.jpg" data-gallery>
          <img class="img-responsive" src="http://www.climbing.is/squarethumb.php/Nepal_05.jpg" alt="">
        </a>
      </div>
    
  </div>
</div>