<div class="container about-us-bg">

  <div class="row about-us">
  
  <div class="col-sm-6 col-lg-6 col-md-6 about-us-div">
    <h2><span>Hverjir erum við?</span></h2>
    
    <p>Fjallateymið er lítill hópur áhuga manna um mest allt sem kemur að því að vera úti og njóta þess sem nátúran hefur uppá að bjóða. Hvort heldur það sé Klifur, fjallamennska, jeppatúrar, kayjak róður, hellaskoðanir eða svifvængjaflug og svo má lengi telja.
    </p><p>
    Tilgangur þessa vefs er fyrst og fremst að halda utanum og sýna myndir úr hinum ýmsu ferðum okkar, öðrum og okkur sjálfum til skemmtunar. Gott tenglasafn, skjáveggmyndir fyrir tölvur og samansafn betri ljósmynda munu auk þess príða vefinn til að gera upplifunina en betri.
    </p><p>
    Þið getið haft samband við okkur hér fyrir neðan eða við okkur beint.
    </p><br>
    <div class="about-us-link">
      <a href="mailto:climbing@climbing.is" target="_blank"><i class="fa  fa-envelope-o go-right"></i>Sendu okkur línu</a>
    </div>
  </div>
  
  <div class="col-sm-6 col-lg-6 col-md-6"></div>
  
  
  </div>
  
</div>