<div class="container language-container">
    <div class="language">
        <a href="#"><i class="flag-icon flag-icon-gb"></i></a>
        <a href="#" class="lang-active"><i class="flag-icon flag-icon-is"></i></a>
    </div>
</div>
    
    
    <div class="container language-container">
        <div class="language">
            <a href="javascript:setCookie('www-cli', 'en', exp);" >
                <i class="flag-icon flag-icon-gb"></i>
            </a>
            <a href="javascript:setCookie('www-cli', 'is', exp);" class="lang-active">
                <i class="flag-icon flag-icon-is"></i>
            </a>
        </div>
    </div>

<style>
    .logo-container{
        position:relative;
    }
    .logo-cont{
        position:absolute; left:0; z-index:9999;
    }
</style>

<nav class="navbar navbar-default" role="navigation">
    <div class="container logo-container" style="position:relative;">
    
        <div class="logo-cont"><a class="logo" routerLink="/"><img src="http://www.climbing.is/img/teymid_v2.png"/></a></div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            
        </div>
        
        <div class="collapse navbar-collapse main-nav" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            
            <li class="active"><a routerLink="/">Heim</a></li>
            <li><a routerLink="/Articles">Greinar</a></li>
            <li>
            <a href="/About">
                Um okkur
            </a>
            </li>
            <li style="visibility: hidden;"><a href="#">xMap</a></li>
            <li class="hidden-xs"><a href="#"></a></li>
            <div class="searchbox-container hidden-xs">
                <form class="searchbox" action="/leit" method="post">
                    <input type="string" placeholder="Search......" name="search" class="searchbox-input" required>
                    <input type="submit" class="searchbox-submit" value="GO">
                    <span class="searchbox-icon">
                        <i class="fa fa-search"></i>
                    </span>
                </form>
            </div>
            <li class="hidden-lg hidden-sm hidden-md">
                <div class="mobile-search">    
                    <input type="search" name="string" class="form-control" placeholder="Leita...">
                </div>
            </li>
            </ul>
        </div>
    
    </div>
    </nav>
