<div class="container-fluid banner-cont">
  <div class="container no-padd">
    <div class="banner banner-subcont vignette">
  
      <img [src]="image" class="article-main-image" width="100%"/>
      <h2>
        <span>{{ articleDetails?.title }}</span>
        <em class="banner-em">Skrifað {{ articleDetails?.dagsetning | epochDate |date: 'yyyy-MM-dd' }}</em>
      </h2>
      
    </div>
  </div>
</div>

<!-- ## Article content ## -->

<div class="container article-container">  
<div class="row">
    
<div class="col-md-8 no-padd">
  <div class="article-text-container" [ngClass]="cssClasses">
      <div class="article-labels">
        <!-- ADD TAGS HERE -->
        <span class="activity-label" *ngFor="let tag of articleDetails?.tags">{{ this.getTag(tag) }}</span>
        
      </div>
    <button  id="switch-color" data-toggle="tooltip" data-placement="top"  (click)="textClass()" title="Breyta lit á texta">
      <span class="glyphicon glyphicon-adjust">&nbsp;</span></button>
    <div [innerHTML]="articleDetails?.allurtexti"></div>
  </div>
</div>

<!-- ### Side bar ###	-->
 
<div class="col-md-4 no-padd">
    
  <!-- Mini map  -->
  
  <div id="sidebar" class="panel panel-default hidden-xs hidden-sm">
  
  <div class="panel-heading"><h4>Staðsetning</h4></div>
  
  <div class="panel-body no-padd">
    <!-- Google map -->

    <div id="map" style="height: 250px;"></div>
  </div>

<!--  
<div class="panel-heading"><h4>Tölfræði</h4></div>

<div class="panel-body no-padd artice-stats">
<table class="table table-responsive">
<tbody>
<tr>
        <td class="tolfraedi_fyrirsogn">Spannir:</td>
        <td class="tolfraedi_tolur">6</td>
      </tr>
	      <tr>
        <td class="tolfraedi_fyrirsogn">Land:</td>
        <td class="tolfraedi_tolur">Frakkland/Ítalía</td>
      </tr>
	      <tr>
        <td class="tolfraedi_fyrirsogn">Hæð yfir sjó:</td>
        <td class="tolfraedi_tolur">4013m</td>
      </tr>
	      <tr>
        <td class="tolfraedi_fyrirsogn">Gististaður:</td>
        <td class="tolfraedi_tolur">Torino hut</td>
      </tr>
</tbody>
</table>

</div>
-->

<!--
<div class="panel-heading"><h4>Næstu greinar</h4></div>

<div class="panel-body no-padd vignette-xsmall grayscale">

  <div class="col-lg-6 col-md-6 article-nav">
    <a href="http://www.climbing.is/grein/232/snaefellsnes-adventure" data-toggle="tooltip" data-placement="top"  title="Ævintýri á Snæfellsnesi">
    <div class="article-nav-img">
      <img src="http://www.climbing.is/squarethumb.php/Snaefellnes_londrangar_kirkjufell_44.jpg" class="img-responsive">
    </div>
      <div class="article-nav-arrow">
        <i class="fa fa-chevron-left"></i>
      </div>
    </a>
  </div>
    <div class="col-lg-6 col-md-6 article-nav article-nav-last">
      <a href="#" data-toggle="tooltip" data-placement="top"  title="Þú ert á nýjustu greininni">
      <div class="article-nav-img"></div>
      <div class="article-nav-arrow">
        <i class="fa fa-chevron-right"></i>
      </div>
    </a>
  </div>
</div>
-->
</div>

</div>
    
</div><!--end of .row-->
</div><!--end of .container-->

<!--	################		Video		##############	-->
<app-articlevideo *ngIf="this.hasVideo" [art]="articleDetails"></app-articlevideo>

<app-gallery [id]="id" [art]="articleDetails"></app-gallery>