<div class="container about-us-bg">
  <div class="row about-us">
    <div class="col-sm-6 col-lg-6 col-md-6 about-us-div">
      <h2><span>Hverjir erum við?</span></h2>
      
      <p>
        Fjallateymið var stofnað árið 2005 af Arnari Jónssyni, Guðmundi Frey Jónssyni og Óðni Árnasyni eftir að Jón Helgi, pabbi Gumma hafði dregið hann með sér á Mt. Blanc um sumarið. 
        Á undan þeirri ferð höfðu þeir feðgar farið í nokkrar æfingaferðir á íslensk fjöll til undirbúnings fyrir það hvíta. </p><p>
  Arnar og Óðinn höfðu hinsvegar nokkrum árum áður verið í nýliðaþjálfun hjá HSSR og voru því tilkippilegir í þetta nýja sport sem hefur alla tíð síðan sett talsverðan og góðan svip á líf okkar. </p><p>
  Eftir að Gummi kom heim úr Ölpunum rakaði hann eins mörgum vinum sínum á fjöll og hann gat, helgi eftir helgi, helst allt árið um kring. Í fyrstu vorum við aðallega að ganga, en strax fyrsta veturinn hófum við að stunda ísklifur. 
  Margir komu með en helst voru það við þrír sem vorum hvað öflugastir í þessu.</p><p>
  Jón Helgi kom þó með okkur líka og árið eftir fóru þeir feðgarnir í aðra alpaferð þar sem m.a. var reynt við hið formfagra Matterhorn, 
  en snerum við eftir að hafa verið nálægt all svakalegu grjóthruni sem okkur leist ekki á í tæplega 4000m hæð í fjallinu.</p><p>
  Strax í ferlinu fékk Gummi mikinn ljósmyndaáhuga og hefur verið ansi iðinn við að burðast með stóra vél og linsur með sér í ferðir til að skrásetja og búa til þá minningabók sem þessi vefsíða er orðin.</p><p>
  Heimasíðan hefur líka virkað sem smá drifkraftur á okkur, bæði er gaman að rifja upp gamlar ferðir, skoða aðstæður og einnig getur það ýtt manni af stað að ekki hafi komið inn ný grein í margar vikur eða jafnvel mánuði. 
  Þó hefur þröskuldurinn um hvenær við skrifum grein um útiveru hækkað um óákveðinn stuðul í gegn um árin. Við reynum þó að koma með nokkrar áhugaverðar greinar á ári og stundum er soðið saman í samantektir yfir ákveðin tímabil.</p><p>
  Myndbandagerð hefur aðeins fylgt okkur í stærri ferðum sem getur verið skemmtileg viðbót við ljósmyndirnar þó ólík séu.</p><p>
  Fjallasportið hefur einnig leitt okkur í hinar ýmsu bragðtegundir af útivist en fljótlega fórum við að stunda hellaskoðun, klettaklifur, fjallahjól og utanvegahlaup. 
  Eftir ferð í alpana 2013 fórum við einnig að stunda svifvængjaflug, og í kjölfar þess kom til liðs við okkur Bjartmar Sveinbjörnsson sem hefur verið duglegur að ferðast með okkur undanfarið, bæði fljúgandi og klifrandi. <br />
  Síðustu ár hafa gönguskíðaleiðangrar bæst við og hugsanlegt er að þeim muni eitthvað fjölga.</p><p>
  Á þessum árum höfum við kynnst fullt af flottu fjallafólki sem við ferðumst með og/eða hittum á förnum vegi. 
  Við höfum allt frá árinu 2006 tekið að okkur leiðsögn á helstu tinda landsins, bæði með hópa sem hafa leitað til okkar beint ásamt að leiða ferðir með Ferðafélagi Íslands og Fjallafélaginu 
  en okkur þykir það mjög dýrmætt að fá að miðla og deila reynslu okkar og þekkingu sem við höfum safnað í gegnum árin. </p><p>

      </p><br>
      <div class="about-us-link">
        <a href="mailto:climbing@climbing.is" target="_blank"><i class="fa  fa-envelope-o go-right"></i>Sendu okkur línu</a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6 about-us-div">
      <img src="assets/img/vid_big.png" alt="teymið" />
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6"></div>
    
  </div>
</div>
