
<div class="container-fluid grayline">
  <div class="container">
    <div class="row clubs">
      
      <div class="col-sm-3 col-lg-3 col-md-3 hidden-xs">
        <h2><span>Samstafsaðilar</span></h2>
      </div>

      <div class="col-sm-2 col-lg-2 col-md-2 hidden-xs">
        <a href="http://www.everest.is" target="_blank"><img src="assets/img/everest.png" alt="Everest" title="Everest útivistaverslun" width="100%"/></a>
      </div>
      <div class="col-sm-2 col-lg-2 col-md-2 hidden-xs">
        <a href="http://www.fis.is" target="_blank"><img src="assets/img/fis.png" alt="Fisfélag Reykjavíkur" title="FIS félag Reykjavíkur" width="100%"/></a>
      </div>
      <div class="col-sm-2 col-lg-2 col-md-2 hidden-xs">
        <a href="http://www.bolstri.is" target="_blank"><img src="assets/img/bolstri.png" alt="Svifvængjafélagið" title="Svifvængjafélag Íslands" width="100%"/></a>
      </div>
      <div class="col-sm-2 col-lg-2 col-md-2 hidden-xs">
        <a href="http://www.isalp.is" target="_blank"><img src="assets/img/isalp.png" alt="Ísalp" title="Íslenski Alpaklúbburinn" width="100%"/></a>
      </div>

    </div>
  </div>
</div>